<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="{{ url_for('static', filename='js/sd.js') }}"></script>
    
    <title>
      {% block title %}
        Smart Steel Technologies - Frontend Demo
      {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    
  </head>
  <body>
    <main>
      <h1>Smart Steel Technologies - Frontend Demo</h1>
      <h6>by Lisandro Molina</h6>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
 