{% extends "base.html" %}
{% block content %}


<!-- Your code here ! -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Chart 1 - <em>Scatter Plot</em></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sd">Chart 2 - <em>Standard Deviation</em></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view">Chart 3 - <em>Individual Sample Data</em></a>
    </li>
</ul>
<div id="graphcontainer"></div>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-8">
        <h2>All Task data categorized by Class label</h2>
        <p>Using scatter chart, I wanted to plot all data points categorized by class label. With this chart, it is easy to identify and visualize if there is clustering of data. On the first glance, Sensor 6 seems to have two clusters from Class 1 samples. Upon further examination, we can also see that there are two clusters from Class 2 samples for Sensor 2. </p>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

(async () => {
    let task_data = await fetch('./data').then(r => r.json());

    Highcharts.chart('graphcontainer', {
        chart: {
            type: 'scatter'
        },
        title: {
            text: 'Task Data'
        },
        xAxis: {
            categories: ['Sensor 0','Sensor 1','Sensor 2','Sensor 3','Sensor 4','Sensor 5','Sensor 6','Sensor 7','Sensor 8','Sensor 9']
        },
        yAxis: {
            title: {
                text: 'Sensor Reading'
            },
            height: '100%',
            max: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    
                },
                
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'Sensor Reading:{point.y} <br>Sample Number: {point.options.sample}'
                }
            },
            series: {
                turboThreshold: 4000,
            }
        },
        
    series: [{
        name: 'Class 1',
        color: 'rgba(255,165,0, 0.2)',
        data: task_data['class1']['sensor0'].map((s,i) => {return {x:0, y:s, sample:i}}).concat(
            task_data['class1']['sensor1'].map((s,i) => {return {x:1, y:s, sample:i}}),
            task_data['class1']['sensor2'].map((s,i) => {return {x:2, y:s, sample:i}}),
            task_data['class1']['sensor3'].map((s,i) => {return {x:3, y:s, sample:i}}),
            task_data['class1']['sensor4'].map((s,i) => {return {x:4, y:s, sample:i}}),
            task_data['class1']['sensor5'].map((s,i) => {return {x:5, y:s, sample:i}}),
            task_data['class1']['sensor6'].map((s,i) => {return {x:6, y:s, sample:i}}),
            task_data['class1']['sensor7'].map((s,i) => {return {x:7, y:s, sample:i}}),
            task_data['class1']['sensor8'].map((s,i) => {return {x:8, y:s, sample:i}}),
            task_data['class1']['sensor9'].map((s,i) => {return {x:9, y:s, sample:i}})
        )
    },
    {
        name: 'Class 2',
        color: 'rgba(45,80,111,0.2)',
        data: task_data['class2']['sensor0'].map((s,i) => {return {x:0, y:s, sample:i}}).concat(
            task_data['class2']['sensor1'].map((s,i) => {return {x:1, y:s, sample:i}}),
            task_data['class2']['sensor2'].map((s,i) => {return {x:2, y:s, sample:i}}),
            task_data['class2']['sensor3'].map((s,i) => {return {x:3, y:s, sample:i}}),
            task_data['class2']['sensor4'].map((s,i) => {return {x:4, y:s, sample:i}}),
            task_data['class2']['sensor5'].map((s,i) => {return {x:5, y:s, sample:i}}),
            task_data['class2']['sensor6'].map((s,i) => {return {x:6, y:s, sample:i}}),
            task_data['class2']['sensor7'].map((s,i) => {return {x:7, y:s, sample:i}}),
            task_data['class2']['sensor8'].map((s,i) => {return {x:8, y:s, sample:i}}),
            task_data['class2']['sensor9'].map((s,i) => {return {x:9, y:s, sample:i}})
        )
    },
    
    
    
    ]
    });


})()

});
</script>




{% endblock %}